/* Estilos generales del contenedor del capítulo */
.capitulo {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center; /* Centra el contenido */
  }
  
  /* Estilos del título */
  .titulo {
    margin-top: 10px;
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Estilos del contenido */
  .contenido {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    padding: 15px;
    border-top: 1px solid #eee;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  /* Estilo adicional para resaltar el contenido */
  .contenido p {
    margin-bottom: 10px;
  }
  
  /* Estilo para resaltar los enlaces */
  .contenido a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contenido a:hover {
    text-decoration: underline;
  }
  