

<div class="containerone">
    <header>
      <div class="left-section">
        <div class="imagen">
          <a [routerLink]="'/dashboard'">
          <img src="../../assets/novel.png" alt="Mi sitio web" ></a>
        </div>
        <div class="dropdown">
          <a href="#">Browse</a>
          <div class="dropdown-content">
            <div class="submenu">
              <a href="#">Books</a>
              <div class="submenu-content">
                <div class="submenu-content1">
                  <a href="#">Fan Fiction 1</a>
                  <a href="#">Fan Fiction 2</a>
                  <a href="#">Fan Fiction 3</a>
                  <a href="#">Fan Fiction 1</a>
                  <a href="#">Fan Fiction 2</a>
                  <a href="#">Fan Fiction 3</a>
                </div>
              </div>
            </div>
            <div class="submenu">
              <a href="#">Novels</a>
              <div class="submenu-content">
                <a href="#">Romance</a>
                <a href="#">Thriller</a>
                <a href="#">Science Fiction</a>
              </div>
            </div>
            <div class="submenu">
              <a href="#">Fan Fic</a>
              <div class="submenu-content">
                <a href="#">Fan Fiction 1</a>
                <a href="#">Fan Fiction 2</a>
                <a href="#">Fan Fiction 3</a>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a href="#">Rankings</a>
          <div class="dropdown-content">
            <div class="submenu">
              <a href="#">Books</a>
            </div>
            <div class="submenu">
              <a href="#">Novels</a>
            </div>
            <div class="submenu">
              <a href="#">Fan Fic</a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="search">
          <input type="text" placeholder="Search">
        </div>
        <div class="sign-in">
          <button id="avatar-btn" aria-haspopup="true" class="avatar-btn" aria-label="Menú de la cuenta" [routerLink]="'/update'">
            <img id="avatar-img" draggable="false" class="avatar-img" alt="Icono de perfil" [src]="avatarIcon">
          </button>
          
        </div>
      </div>
    </header>
    <hr/>
  </div>
  <hr/>
  <hr/>
  
  
  