
<div class="containerone">
  <header>
    <div class="left-section">
      <div class="imagen">
        <a [routerLink]="['/dashboard']">
        <img src="../../assets/novel.png" alt="Mi sitio web"></a>
      </div>
      <div class="dropdown">
         <a>Browse</a>
        <div class="dropdown-content">
          <div class="submenu">
            <a [routerLink]="['/filter-genders']">By Genre</a>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <a [routerLink]="[]">Rankings</a>
        <div class="dropdown-content">
          <div class="submenu">
            <a [routerLink]="[]">Books</a>
          </div>
          <div class="submenu">
            <a [routerLink]="[]">Novels</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right-section">
      <div class="search">
        <input type="text" placeholder="Search">
      </div>
      
      <div class="dropdown">
        <button id="avatar-btn" aria-haspopup="true" class="avatar-btn" aria-label="Menú de la cuenta" (click)="toggleMenu()">
          <img id="avatar-img" draggable="false" class="avatar-img" alt="Icono de perfil" [src]="avatarIcon" >
        </button>
      
        <div *ngIf="showMenu" class="dropdown-content">
          <a [routerLink]="'/perfil'">Profile</a>
          <a [routerLink]="'/update'">Update User </a>
          <a *ngIf="isAdmin" [routerLink]="'/admin'">Delete Users</a>
          <a [routerLink]="'/bienvenido'">Sign Out</a>
        </div>
      </div>

    </div>
  </header>
  <hr/>
</div>
<hr/>
<hr/>