<app-header></app-header>

<div class="perfil-info">
  <h2>Información del Usuario</h2>
  <div class="field">
    <label>Nombre:</label>
    <div>{{ nombre }}</div>
  </div>
  <div class="field">
    <label>Correo electrónico:</label>
    <div>{{ email }}</div>
  </div>

</div>
<h2>Mis Favoritos</h2>
<hr>
<br>

<div>

  <div *ngIf="favoritos.length === 0">No tienes obras favoritas.</div>
  <div class="favoritos-grid">
    <div *ngFor="let obra of favoritos" class="obra-item">
      <div>
        <h3>{{ obra.titulo }}</h3>
        <p>{{ obra.autor }}</p>
        <img [src]="obra.rutaImagen" alt="{{ obra.titulo }}" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
