<!-- about-us.component.html -->
<app-header></app-header>
<div class="about-us-container">
    <h1>About Us</h1>
    <div class="team-info">
      <h2>We are the NovelProject team</h2>
      <p>According to a report by the National Literacy in the USA, there have been notable changes in children’s enthusiasm for reading in the last few years. For example, less than 3 in 10 children and young people aged 8 to 18 read daily in 2023, this is a notable decrease compared with previous decades. The report claims that the decline in time spent reading will have negative consequences for children’s learning and life-chances.</p>
      <p>NovelProject, our online reading platform, hopes to be a website where all readers can find interesting classic books to read for free. At the same time, in the future, we want to offer new authors the chance to reach readers and readers the chance to get to know new works alongside the classics. Readers attracted by the opportunity to read out-of-copyright classics on our vibrant, innovative, user-friendly platform, will be introduced to new original and fanfiction works presented alongside the old classics in a way that no other online reading and publishing platform has done.</p>
    </div>
    <hr>
   
    <div class="team-member">
      <h2>Alejandro</h2>
      <p>Previous to this vocational training, I did a lower and vocational training in Microsystem Computers and Networks. As for my experience, I did my job training as a client communication helper and IT support technician in “Aiguas Barcelona”, where I learned how to configure computer systems, adapting the configuration of the system according to the needs of the user. Develop services to integrate their functions into web applications.</p>
      <p>Furthermore, I put some soft skills into practice, for example:</p>
      <ul>
        <li>Teamwork</li>
        <li>Commitment and Responsibility</li>
        <li>Adaptability and Continuous Learning</li>
      </ul>
      <p>And now I'm going to explain a little bit about the top core functionalities of our website.</p>
    </div>
   
    <hr>
   
    <div class="team-member">
      <h2>Diego</h2>
      <p>I previously studied 2 years of dentistry at university. Although I didn’t finish the degree, I learned how to communicate with people and how to gain new clients. I have already done my internship with a company named Lura Care, where I learned many things and performed a variety of functions, such as:</p>
      <ul>
        <li>Collaboration in the design and development of websites and applications.</li>
        <li>Participation in the maintenance and updating of existing websites.</li>
        <li>Management of user registrations and cancellations in different software.</li>
        <li>Resolution of Incidents.</li>
      </ul>
      <p>Regarding my soft skills, I also used my strengths in the following areas:</p>
      <ul>
        <li>Teamwork</li>
        <li>Adaptability and problem solving</li>
        <li>Clear and effective communication</li>
      </ul>
    </div>
   
    <hr>
   
    <div class="team-member">
      <h2>Dina Gomez</h2>
      <p>I have been living in Barcelona for 12 years and currently I’m changing my professional path. I have a mathematics and physics degree, and two Masters degrees, one in creative writing and another in discourse analysis. I have experience as a teacher, as a researcher and now I'm training in IT. I would like to apply my different knowledge in the service of development of useful applications, like our app. I like and enjoy everything involves UX_UI experience.</p>
      <p>My strongest skills are brainstorming, organization and the proposal of creative solutions.</p>
    </div>
  </div>
   
   
  <app-footer></app-footer>
