<app-header></app-header>






<div class="container">
    <div class="book-details">
      <img src="../../assets/9 (1).jpg" alt="Book Cover" class="book-cover">
      <div class="book-info">
        <h2 class="book-title">The Rise Of The Dragons</h2>
        <p class="book-introduction" [ngClass]="{ 'show-full': showFull }" (click)="toggleShow()">
            For hundreds of years, the Targaryens sat the Iron Throne of Westeros while their dragons ruled the skies. The story of the only family of dragonlords to survive Valyria’s 
            Doom is a tale of twisty politics, alliances and betrayals, and acts both noble and craven. The Rise of the Dragon chronicles the creation and rise of Targaryen power in Westeros, 
            covering the history first told in George R. R.<strong>....</strong>
          <span *ngIf="showFull">
              Martin’s epic Fire & Blood, from Aegon Targaryen’s conquest of Westeros through to the infamous Dance of the Dragons—the bloody civil
             war that nearly undid Targaryen rule for good.
          </span>
        </p>
        
         
        <div class="genres-container">
            <div class="genres-box">
              <h5>Genres:</h5>
              <ul class="hola">
                <li class="genre fantasy">Fantasy</li>
                <li class="genre adventure">Adventure</li>
                <li class="genre  Survival">Action</li>
              </ul>
            </div>
          </div>
        </div>
    </div> 
  </div>















<div ngbAccordion class="custom-accordion">
    <div ngbAccordionItem [collapsed]="false" class="accordion-item">
      <h2 ngbAccordionHeader class="accordion-header">
        <button ngbAccordionButton class="accordion-button">Volume 1</button>
      </h2>
      <div ngbAccordionCollapse class="accordion-collapse">
        <div ngbAccordionBody>
          <ng-template>
            <div>
              <a href="#" class="chapter-link">Chapther 1-
              <p class="chapter-title">El Amanecer del Camino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 2-
              <p class="chapter-title">El Ultimo Soldado del Reino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 3-
              <p class="chapter-title">La marea Alta</p></a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

</div>

















<app-footer></app-footer>



