/* book-description.component.css */



.container {
  max-width: 800px;
  margin: 40px auto 0; /* Agregar margen superior de 20px */
  padding: 20px;
  background: linear-gradient(to bottom, #f0f0f0, #dcdcdc); /* Gradiente de fondo con colores más oscuros */
  border-radius: 8px;
}

  
  .book-details {
    display: flex;

  }
  
  .book-cover {
    width: 310px;
    height: auto;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra suave */
    transition: transform 0.3s ease; /* Agregar efecto de transición */
  }
  
  .book-cover:hover {
    transform: scale(1.04); /* Aumentar el tamaño al pasar el mouse */
  }
  
  
  .book-info {
    flex: 1;
    padding: 0 20px; /* Añadir margen a los lados */
  }
  
  
  .book-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .book-introduction {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.6; /* Ajustar según tus preferencias */
   /* margin-left: 5px;  Ajustar según tus preferencias */
    margin-right: 20px; /* Ajustar según tus preferencias */
}


.book-autor {
  margin-top: 0px; /* Ajusta el margen superior según sea necesario */
  font-size: 18px; /* Ajusta el tamaño del texto */
  font-weight: 600 /* Aplica un estilo de fuente en negrita para destacarlo */
}

.book-genero {
  margin-top: 0px; /* Ajusta el margen superior según sea necesario */
  font-size: 18px; /* Ajusta el tamaño del texto */
  font-weight: 600 /* Aplica un estilo de fuente en negrita para destacarlo */;
  text-align: justify;
}

.book-cover{
width: 300px;
height: 450px;
border-radius: 30p;
}



  .genres, .chapters {
    margin-bottom: 20px;
  }
  
  .genres ul, .chapters ul {
    list-style-type: none;
    padding: 0;
  }
  
  .genres h3, .chapters h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .genres li, .chapters li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .save-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  





 
  
  .genres h2 {
    font-size: 18px;
    color: #333;
  }
  
  h5{
    text-align: left;
  }

  .genres-box h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .genres ul {
    list-style: none;
    padding-left: 0;
   
  }
  .genres-box ul {
      margin-top: 20px;
    list-style-type: none;
    padding: 0;
  }
  .genres-box ul li {
    display: inline-block;
    margin: 0 10px;
  }
  .genre {
    font-size: 16px;
    margin-bottom: 8px;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    list-style-type: none; 
  }
  

  .genre:hover {
    transform: scale(1.05);
  }
  
  .book-introduction {
    font-size: 16px;
  
    text-align: justify;
  }
  




  .chapter-container {
    background-color: #f0f0f0; /* Color de fondo para el contenedor */
    padding: 10px; /* Añade algo de espacio alrededor del contenido */
    margin-bottom: 10px; /* Añade un margen inferior entre los contenedores de capítulos */
  }
  .chapter-link {
    display: inline-block; /* Establece los enlaces como elementos en línea */
    margin-right: 20px; /* Agrega un margen derecho para separación entre los enlaces */
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
  }
  
  .chapter-title {
    display: inline; /* Establece el título como un elemento en línea */
    margin: 0; /* Elimina el margen predeterminado */
  }
  
  .custom-accordion {
    margin-bottom: 80px;
    margin-top: 40px;
    margin-left: 490px;
    max-width: 700px; /* Ajusta el ancho máximo según sea necesario */
    max-height: 500px; /* Ajusta la altura máxima según sea necesario */
  }

