
<app-header></app-header>



<div class="contenedor" *ngIf="obra">
  <div class="container">
  <div class="book-details">
    <img [src]="obra.rutaImagen" alt="Book Cover" class="book-cover"> <!-- Mostrar la imagen -->
    <div class="book-info">
      <h2 class="book-title">{{ obra.titulo }}</h2>
      <p class="book-introduction">{{ obra.descripcion }}</p> 
      <p class="book-autor">Autor: {{ obra.autor }}</p>
      <p class="book-genero">Genders:</p>
      <ul>
        <li *ngFor="let genero of generos">{{ genero.nombre }}</li>
      </ul>
    </div>
  </div>
</div>







  <div ngbAccordion class="custom-accordion">
    <div ngbAccordionItem [collapsed]="false" class="accordion-item">
      <h2 ngbAccordionHeader class="accordion-header">
        <button ngbAccordionButton class="accordion-button">Volume 1</button>
      </h2>
      <div ngbAccordionCollapse class="accordion-collapse">
        <div ngbAccordionBody>
          <ng-template>
            <div>
              <a [routerLink]="['/Innovation_City/capitulo']">
                Chapther 1-
              <p class="chapter-title">The Beginning of the Adventure</p></a><hr>
            </div>
            <div>
              <a [routerLink]="['/Innovation_City/capitulo2']">
              Chapther 2-
              <p class="chapter-title">The Last Soldier of the Kingdom</p></a><hr>
            </div>
            <div>
              <a [routerLink]="['/Innovation_City/capitulo3']">
              Chapther 3-
              <p class="chapter-title">High Tide</p></a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>




 <!-- <button class="save-button">Save Book</button>-->

  <app-footer></app-footer>


</div>
















