<app-header></app-header>


<div class="container">
    <div class="book-details">
      <img src="../../assets/2 (1).jpg" alt="Book Cover" class="book-cover">
      <div class="book-info">
        <h2 class="book-title">System Universe </h2>
        <p class="book-introduction" [ngClass]="{ 'show-full': showFull }" (click)="toggleShow()">
          Fight, survive, adapt, and rely only on yourself.
          That is Derek’s creed, and what’s got him through the System Integration on Earth.
          Everything changed when the System came. Cute bunnies and beautiful butterflies became savage killing machines. Then the Invaders arrived with a single goal: to obtain ownership of this new habitable planet<strong>....</strong>
          <span *ngIf="showFull">
            War has raged ever since.
            None of this mattered much to Derek, aside from making living a little more perilous. He mostly kept to himself. He was the weird guy who owned a cabin that occasionally came into town for a drink and light conversation. After System Integration, that didn’t change much—he only got stronger.
            After years of fighting monsters and Invaders alone he’s become quite adept at surviving. Who needs others to get in the way or worry about?
            Until one day, Derek goes against his better judgement. He decides to lend some help on a mission that doesn’t seem too hard… He should have stuck to being alone…
          </span>
        </p>
        
        
        
        <div class="genres-container">
            <div class="genres-box">
              <h5>Genres:</h5>
              <ul class="hola">
                <li class="genre action">Action</li>
                <li class="genre fantasy">Apocalyptic</li>
                <li class="genre adventure">Adventure</li>
                <li class="genre science-fiction">Slice of Life</li>
                <li class="genre  Survival">Survival</li>
              </ul>
            </div>
          </div>
        </div>
    </div> 
  </div>







  <div ngbAccordion class="custom-accordion">
    <div ngbAccordionItem [collapsed]="false" class="accordion-item">
      <h2 ngbAccordionHeader class="accordion-header">
        <button ngbAccordionButton class="accordion-button">Volume 1</button>
      </h2>
      <div ngbAccordionCollapse class="accordion-collapse">
        <div ngbAccordionBody>
          <ng-template>
            <div>
              <a href="#" class="chapter-link">Chapther 1-
              <p class="chapter-title">El Amanecer del Camino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 2-
              <p class="chapter-title">El Ultimo Soldado del Reino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 3-
              <p class="chapter-title">La marea Alta</p></a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  
  </div>












<app-footer></app-footer>