<app-header></app-header>






<div class="container">
    <div class="book-details">
      <img src="../../assets/12 (1).jpg" alt="Book Cover" class="book-cover">
      <div class="book-info">
        <h2 class="book-title">Ken Follett Never</h2>
        <p class="book-introduction" [ngClass]="{ 'show-full': showFull }" (click)="toggleShow()">
            In the Sahara desert, two intelligence agents track a powerful terrorist group, risking their lives - and, when they fall madly in love, their careers - at every turn.

            In China, a high-ranking government official with big ambitions battles old hawks in the Party's hard wing who threaten to push the country to the point of no return.
            
            And in the United States, the president faces a global crisis and a siege from her implacable political opponents. She is willing to do anything to avoid an unnecessary war<strong>....</strong>
           
          <span *ngIf="showFull">
           
            But when one act of aggression leads to another and the world's most powerful powers are caught in a complex web of alliances from which they cannot escape, a frantic race against time begins. Can anyone, even with the best intentions and the most exceptional skills, stop the inevitable?
                        
          </span>
        </p>
        
         
        <div class="genres-container">
            <div class="genres-box">
              <h5>Genres:</h5>
              <ul class="hola">
                <li class="genre  Thriller">Thriller</li>
                <li class="genre Espionage">Espionage</li>
                <li class="genre  Political">Political</li>
              </ul>
            </div>
          </div>
        </div>
    </div> 
  </div>















<div ngbAccordion class="custom-accordion">
    <div ngbAccordionItem [collapsed]="false" class="accordion-item">
      <h2 ngbAccordionHeader class="accordion-header">
        <button ngbAccordionButton class="accordion-button">Volume 1</button>
      </h2>
      <div ngbAccordionCollapse class="accordion-collapse">
        <div ngbAccordionBody>
          <ng-template>
            <div>
              <a href="#" class="chapter-link">Chapther 1-
              <p class="chapter-title">El Amanecer del Camino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 2-
              <p class="chapter-title">El Ultimo Soldado del Reino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 3-
              <p class="chapter-title">La marea Alta</p></a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

</div>





