/* Estilo general del contenedor de la lista */
.admin-list-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
 
  /* Estilo para los elementos de la lista */
  .admin-list-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  .admin-list-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .admin-list-container li:last-child {
    border-bottom: none;
  }
 
  /* Estilo para los nombres y correos en la lista */
  .admin-list-container .user-info {
    font-size: 16px;
    color: #333;
  }
 
  /* Estilo para el botón de eliminar */
  .button-eliminar {
    padding: 8px 16px;
    background-color: #dc3545; /* Rojo */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  .button-eliminar:hover {
    background-color: #c82333; /* Rojo oscuro */
  }
 
  /* Añade algún margen alrededor del contenedor para mejor espaciado */
  body {
    margin: 20px;
  }

  app-footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Ajusta el ancho según tus necesidades */
  }
  

  .success-message {
    color: #fff; /* Color del texto */
    background-color: #28a745; /* Color de fondo */
    font-weight: bold;
    padding: 10px 15px; /* Espaciado interno */
    margin: 10px 0;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    border: 1px solid #28a745; /* Borde */
    transition: opacity 0.5s ease-in-out; /* Transición suave */
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 0.5s forwards; /* Animación para aparecer */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  