<!-- administracion.component.html -->

<app-header></app-header>

<div class="admin-list-container" *ngIf="isAdmin">
  <h2>Lista de Usuarios</h2>
  <div *ngIf="mensaje" class="success-message">{{ mensaje }}</div> <!-- Mensaje de éxito -->
  <ul>
    <li *ngFor="let usuario of usuarios">
      <span class="user-info">{{ usuario.nombre }} - {{ usuario.email }}</span>
      <button class="button-eliminar" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
    </li>
  </ul>
</div>

<app-footer></app-footer>
