<!-- update.component.html -->
<app-header></app-header>



<div>
    <h2>Actualizar Usuario</h2>
    <form (ngSubmit)="updateUser()">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required>

      <label for="correo">Correo:</label>
      <input type="email" readonly disabled id="correo" name="correo" [(ngModel)]="userId" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="pswd" required>

      <button type="submit">Actualizar Usuario</button>
    </form>
  </div>




<app-footer></app-footer>



