body {
    font-family: Arial, sans-serif;
  }
  
  .arriba {
    width: 900px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #555;
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #336594;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #459bcc;
  }
  


  .success-message {
    text-align: center;
    margin-top: 20px;
    background-color: #dff0d8; /* Color de fondo verde suave */
    color: #3c763d; /* Color del texto verde oscuro */
    border: 1px solid #d6e9c6; /* Borde verde claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px;  /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado inferior */
    font-size: 16px; /* Tamaño de fuente */
  }
  

  .error-message {
    text-align: center;
    margin-top: 20px;
    background-color: #d8a6a5;
    color: #a94442; /* Color del texto rojo oscuro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado inferior */
    font-size: 16px; /* Tamaño de fuente */
  }
  


  .bajo{
    margin-top: 50px;
  }