<app-header></app-header>

<div class="container">
  <div class="book-details">
    <img src="../../assets/4 (1).jpg" alt="Book Cover" class="book-cover" />
    <div class="book-info">
      <h2 class="book-title">
        Innovation City: A Portal Cultivation Fantasy Saga
      </h2>
      <p class="book-introduction">
        Settle down, bake things and enjoy life. However, the gods ruined that
        dream. With [Baker] and a rare black ability, he is now on the run for
        his life, trying to become strong enough to return home. Now Max must
        find a way to make himself strong enough to survive the people and the
        god who is chasing him. Max, unprepared for the life of an adventurer,
        will have to learn things the hard way while hiding his secret so his
        companions won't turn on him.
      </p>

      <div class="genres-container">
        <div class="genres-box">
          <h5>Genres:</h5>
          <ul class="hola">
            <li class="genre fantasy">Comedy</li>
            <li class="genre adventure">Adventure</li>
            <li class="genre Survival">Romance</li>
          </ul>
        </div>
      </div>
      <button (click)="saveBook()" class="save-button" class="btn btn-primary">
        Save Book
      </button>
    </div>
  </div>
</div>

<div ngbAccordion class="custom-accordion">
  <div ngbAccordionItem [collapsed]="false" class="accordion-item">
    <h2 ngbAccordionHeader class="accordion-header">
      <button ngbAccordionButton class="accordion-button">Volume 1</button>
    </h2>
    <div ngbAccordionCollapse class="accordion-collapse">
      <div ngbAccordionBody>
        <ng-template>
          <div>
            <a href="#" class="chapter-link"
              >Chapter 1-
              <p class="chapter-title">El Amanecer del Camino</p></a
            >
            <hr />
          </div>
          <div>
            <a href="#" class="chapter-link"
              >Chapter 2-
              <p class="chapter-title">El último Soldado del Reino</p></a
            >
            <hr />
          </div>
          <div>
            <a href="#" class="chapter-link"
              >Chapter 3-
              <p class="chapter-title">La marea Alta</p></a
            >
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
