<app-header></app-header>






<div class="container">
    <div class="book-details">
      <img src="../../assets/6 (1).jpg" alt="Book Cover" class="book-cover">
      <div class="book-info">
        <h2 class="book-title">Hierarchy of Crows</h2>
        <p class="book-introduction" [ngClass]="{ 'show-full': showFull }" (click)="toggleShow()">
            When you’re living inside a dwarf planet in the cold abyss of space, life is only easy if you’re rich. 17-year-old Marishel Vance works as a seamstress – but when she’s selected to compete in a brutal contest for the Ambassador’s hand in marriage, she’s quickly catapulted into a life-threatening struggle.

            Marishel hates the idea of fighting for some stuck-up rich guy – no matter how handsome he is. <strong>....</strong>
          <span *ngIf="showFull">
            But after her attempts are thwarted, she becomes desperate to find a way to end the Blood Match and save the lives of the girls she’s training with. The key could lie in Ambassador Quin himself ... but as she tries to win his friendship, her growing feelings for him only complicate the matter.    
          </span>
        </p>
        
         
        <div class="genres-container">
            <div class="genres-box">
              <h5>Genres:</h5>
              <ul class="hola">
                <li class="genre fantasy">Horror</li>
                <li class="genre adventure">Adventure</li>
                <li class="genre  Dark">Dark Fantasy</li>
              </ul>
            </div>
          </div>
        </div>
    </div> 
  </div>















<div ngbAccordion class="custom-accordion">
    <div ngbAccordionItem [collapsed]="false" class="accordion-item">
      <h2 ngbAccordionHeader class="accordion-header">
        <button ngbAccordionButton class="accordion-button">Volume 1</button>
      </h2>
      <div ngbAccordionCollapse class="accordion-collapse">
        <div ngbAccordionBody>
          <ng-template>
            <div>
              <a href="#" class="chapter-link">Chapther 1-
              <p class="chapter-title">El Amanecer del Camino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 2-
              <p class="chapter-title">El Ultimo Soldado del Reino</p></a><hr>
            </div>
            <div>
              <a href="#" class="chapter-link">Chapther 3-
              <p class="chapter-title">La marea Alta</p></a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

</div>




