.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('src/assets/login1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Necesario para que el z-index funcione correctamente */
  overflow: hidden; /* Para evitar que el filtro se aplique a los elementos hijos */
}

.registro-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(95%);
}

h3 {
  color: white; /* Color del texto blanco */
  font-size: 24px; /* Tamaño de letra de 24px */
}

h4 {
  margin-top: 10px;
  color: white; /* Color del texto blanco */
  font-size: 16px; /* Tamaño de letra de 24px */
  text-align: left;
}

p{
  font-weight: bold;
  color: rgb(214, 75, 75); /* Color del texto blanco */
  font-size: 17px; /* Tamaño de letra de 24px */
}
.form-container {
  width: 370px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  position: relative; /* Para que los elementos dentro de este div no se vean afectados por el filtro */
  z-index: 1; /* Asegurarse de que el formulario esté por encima del fondo */
  background: rgba(82, 134, 128, 0.3); /* Color de fondo similar al del login */
  border: 1px solid #2a2a2a; /* Borde similar al del login */
  color: #ffffff; /* Texto blanco */
}

.form-container img {
  width: 230px;
  margin-bottom: 20px;
}

.form-overlay {
  width: 100%;
  color: rgb(36, 45, 52);
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #ffffff; /* Texto blanco */
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #222; /* Fondo negro similar al del login */
  color: #ffffff; /* Letras blancas */
  transition: border-color 0.3s;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
  border-color: #007bff;
}

button[type="submit"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd; /* Color de fondo similar al del login */
  color: white; /* Texto blanco */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0a58ca; /* Color de fondo similar al del login */
}
